div#popupshowitems{
  width: 100%;
}
.copy, .col-sm-12, .gplus, .login-page .right-side p {
  display: none;
}
.col-sm-6.right-side, .col-sm-10.col-sm-offset-1.login-page{
  border-radius: 10px;
}
.login-page .btn-deep-purple{
  position: absolute;
  bottom: 20vh;
  width: 75vw;
  border-radius: 5px;
  height: 35px;
}
.col-sm-10.col-sm-offset-1.login-page {
  width: 88vw;
  bottom: -3vh;
}
.container {
  justify-items: center;
  display: grid;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v143/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
